{% extends 'budgettracker/dashboardbase.html' %}
{% load custom_filters %}
{% block title %}Summary{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Monthly Budget Summary</h1>

<form method="GET" class="mb-6 space-y-4 bg-white p-4 rounded shadow max-w-md">
    <div>
        <label for="month" class="block text-sm font-medium text-gray-700">Select Month</label>
        <select name="month" id="month" class="w-full mt-1 border-gray-700 rounded-md shadow-sm">
            {% for i in 1|to:12 %}
                <option value="{{ i }}" {% if request.GET.month == i|stringformat:"s" %}selected{% endif %}>
                    {{ i|get_month_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="year" class="block text-sm font-medium text-gray-700">Enter Year</label>
        <input type="number" placeholder="yyyy" name="year" id="year" value="{{ request.GET.year }}" class="w-full mt-1 border-gray-300 rounded-md shadow-sm">
    </div>
    <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 cursor-pointer">View Status</button>
</form>

{% if summary %}
<div class="bg-white rounded shadow p-6">
    <table class="table-auto w-full text-left">
        <thead class="border-b">
            <tr class="text-gray-600 uppercase text-sm">
                <th class="px-4 py-2">Field</th>
                <th class="px-4 py-2">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in summary.items %}
            <tr class="border-t">
                <td class="px-4 py-2 font-semibold text-gray-800">{{ key|capfirst }}</td>
                <td class="px-4 py-2 text-gray-700">
                    {% if value|floatformat %}
                        {{ value|floatformat:"2" }}
                    {% else %}
                        {{ value }} <!--Month/Year-->
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}